
@{
    ViewBag.Title = "AjaxUsingWebService";
}

<h2>AjaxUsingWebService</h2>
<div class="row">
    <div class="col-md-1">
        Enter  Id
    </div>
    <div class="col-md-2">
        <input id="txtsearch" type="text" class="form-control" placeholder="Enter employee id" />
    </div>
    <div class="col-md-1">
        <input id="btnsearch" type="button" value="Search" class="btn btn-primary" />
    </div>
</div>
<div id="divajax" class="row">
    <div class="col-lg-8">
        <form>
            <fieldset>
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-6">
                            <label for="txtcode">Code</label>
                            <input id="txtcode" type="text" class="form-control" placeholder="Employee Code" />
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-6">
                            <label for="txtname">Name</label>
                            <input id="txtname" type="text" class="form-control" placeholder="Name" />
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-6">
                            <label for="txtemail">Email</label>
                            <input type="text" id="txtemail" class="form-control" placeholder="Email" />
                        </div>

                    </div>

                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-6">
                            <label for="txtdepartment">Department</label>
                            <input type="text" id="txtdepartment" class="form-control" placeholder="Your Department" />
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-6">
                            <label for="txtdepartment">Mobile</label>
                            <input type="text" id="txtmobile" class="form-control" placeholder="Your Mobile" />
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-6">
                            <label for="txtjoining">Joining Date</label>
                            <input type="text" id="txtjoining" class="form-control" placeholder="Joining Date" />
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-6">
                            <label for="txtdesignation">Designation</label>
                            <input type="text" id="txtdesignation" class="form-control" placeholder="Designation" />
                        </div>
                    </div>
                </div>

                <div id="divresult" class="alert alert-success">
                </div>

            </fieldset>

        </form>

    </div>

</div>

@section scripts
    {
    <script type="text/javascript">
        $(document).ready(function () {
            var textboxes = $("#divajax input[type='text']");

            textboxes.focus(function () {
                var helpdiv = $(this).attr('id') + "HelpDiv";
                //$("#" + helpdiv).load('/htmlpage.html #' + helpdiv);
                //$.post("GetHelpTextPost", { helpkey: $(this).attr('id') }, function (data) {

                //    $("#" + helpdiv).html(data);

                //});
                $.ajax({
                    url: "/EmpWebService.asmx/ADD",
                    method: "POST",
                    data: { a: 5, b: 10 },
                    dataType: 'xml',
                    success: function (response) {
                        //  alert(response);
                        // $("#" + helpdiv).html(response.helpTextValue);
                    },
                    error: function () {

                    }
                });

            });

            textboxes.blur(function () {

                var helpdiv = $(this).attr('id') + "HelpDiv";
                $("#" + helpdiv).html("");
            });

            $("#btnsearch").click(function () {
                if ($("#txtsearch").val() == "") {
                    alert('Please enter employee id');
                }
                else {
                    $.ajax({
                        url: "/EmpWebService.asmx/GetEmployee",
                        data: { EmpId: $("#txtsearch").val() },
                        method: "POST",
                        datatype: "xml",
                        success: function (response) {
                            var empdata = $(response);
                            // alert(empdata);
                            var _EmpCode = empdata.find("EmpCode").text();
                            var _EmpEmail = empdata.find("EmpEmail").text();
                            var _EmpName = empdata.find("EmpName").text();
                            var _DepartmentName = empdata.find("DepartmentName").text();
                            var _MobileNumber = empdata.find("MobileNumber").text();
                            var _JoiningDate = empdata.find("JoiningDate").text();
                            var _DesignationName = empdata.find("DesignationName").text();
                            $("#txtcode").val(_EmpCode);
                            $("#txtname").val(_EmpName);
                            $("#txtemail").val(_EmpEmail);
                            $("#txtdepartment").val(_DepartmentName);
                            $("#txtmobile").val(_MobileNumber);
                            $("#txtjoining").val(_JoiningDate);
                            $("#txtdesignation").val(_DesignationName);
                            if (_EmpCode == "") {
                                alert('Requested details with Emp Id "' + $("#txtsearch").val() +'" not found');
                            }
                        },
                        error: function (error) {
                            alert(error);
                        }
                    });
                }
                

            });
        });
    </script>
}