
@{
    ViewBag.Title = "WindowHeightVSdocumentheight";
}

<h2>WindowHeightVSdocumentheight</h2>
<style>
    .sidecls {
        height: 200px;
        background-color: grey;
        color: white;
    }
</style>
<div class="row">
    <div class="col-lg-9" style="border:1px solid black;">
        It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
        The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here,
        content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum
        as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy.
        Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
        <br />
        Where can I get some?

        There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form,
        by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem
        Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the
        Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary
        of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable.
        The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.
        <br />


        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed auctor nisl quis elementum ultricies. Fusce ligula ligula, hendrerit eu augue eu, hendrerit ornare erat. Sed dui ipsum, pulvinar malesuada tortor quis, sagittis vestibulum ligula. Aliquam mi urna, dignissim sed est a, consectetur lobortis ante. Curabitur accumsan, neque vitae vestibulum pellentesque, ex augue finibus sapien, semper egestas lacus neque ac sapien. Duis iaculis urna sit amet feugiat malesuada. Aliquam pharetra sed turpis id varius. Curabitur at faucibus nisi. Sed sodales elementum mollis.

        Nullam vitae placerat lacus. Suspendisse in urna leo. Vestibulum bibendum augue non nunc rhoncus, a ornare tortor cursus. Nunc imperdiet lobortis ultricies. Integer nunc massa, gravida sed nibh et, porta vulputate leo. Proin posuere magna ut ipsum vestibulum faucibus. Donec imperdiet arcu id risus fringilla feugiat. Morbi vulputate leo eu condimentum dapibus.

        Nulla sodales elit et arcu feugiat accumsan. Vivamus volutpat porttitor neque. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce eget accumsan erat, sed tincidunt turpis. Mauris mollis arcu id eros sollicitudin ultricies. Nullam vel nisl eget purus bibendum dapibus eu a lectus. Nam mollis sit amet leo ut pulvinar. Nulla lacinia tellus sed congue dapibus. Sed scelerisque arcu vel ex aliquam, vitae semper orci egestas. Curabitur tristique vehicula fringilla. Duis eget est orci.

        Sed justo metus, luctus at elementum a, fermentum vitae ligula. Nullam suscipit purus eget elementum ultrices. Nam ullamcorper sodales metus, et semper ipsum efficitur non. Maecenas pharetra aliquam nisi nec bibendum. Fusce sodales orci sed efficitur suscipit. Donec efficitur elementum vulputate. Sed nunc tellus, finibus at bibendum ut, consectetur et lacus. Vestibulum cursus mauris eget cursus molestie. Phasellus nisl lacus, lacinia vitae pulvinar non, ullamcorper ac felis. Fusce augue odio, rhoncus vitae metus vitae, lobortis feugiat dui. Nullam vestibulum elementum condimentum. Aenean semper malesuada sapien eu eleifend. Phasellus scelerisque urna at eros fringilla, quis imperdiet est elementum. Phasellus et nisl at ex cursus cursus at ac nibh. Vivamus scelerisque hendrerit orci et convallis.

        Nulla ultrices odio sed turpis fermentum consectetur. Duis ante neque, finibus a magna quis, efficitur efficitur magna. Sed interdum nulla vel molestie volutpat. Nunc sit amet turpis placerat, placerat eros vitae, imperdiet lacus. Aenean id nisi tellus. Curabitur consectetur pretium odio, vel rutrum justo congue a. Nullam convallis turpis vitae ante gravida, non consectetur nisi bibendum. Proin ultrices, nisi non commodo lobortis, dolor felis laoreet mi, sit amet pellentesque lorem ante non nisl. Aliquam a felis eget nisi consequat pellentesque.
        It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
        The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here,
        content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum
        as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy.
        Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
        <br />
        Where can I get some?

        There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form,
        by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem
        Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the
        Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary
        of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable.
        The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.
        <br />


        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed auctor nisl quis elementum ultricies. Fusce ligula ligula, hendrerit eu augue eu, hendrerit ornare erat. Sed dui ipsum, pulvinar malesuada tortor quis, sagittis vestibulum ligula. Aliquam mi urna, dignissim sed est a, consectetur lobortis ante. Curabitur accumsan, neque vitae vestibulum pellentesque, ex augue finibus sapien, semper egestas lacus neque ac sapien. Duis iaculis urna sit amet feugiat malesuada. Aliquam pharetra sed turpis id varius. Curabitur at faucibus nisi. Sed sodales elementum mollis.

        Nullam vitae placerat lacus. Suspendisse in urna leo. Vestibulum bibendum augue non nunc rhoncus, a ornare tortor cursus. Nunc imperdiet lobortis ultricies. Integer nunc massa, gravida sed nibh et, porta vulputate leo. Proin posuere magna ut ipsum vestibulum faucibus. Donec imperdiet arcu id risus fringilla feugiat. Morbi vulputate leo eu condimentum dapibus.

        Nulla sodales elit et arcu feugiat accumsan. Vivamus volutpat porttitor neque. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce eget accumsan erat, sed tincidunt turpis. Mauris mollis arcu id eros sollicitudin ultricies. Nullam vel nisl eget purus bibendum dapibus eu a lectus. Nam mollis sit amet leo ut pulvinar. Nulla lacinia tellus sed congue dapibus. Sed scelerisque arcu vel ex aliquam, vitae semper orci egestas. Curabitur tristique vehicula fringilla. Duis eget est orci.

        Sed justo metus, luctus at elementum a, fermentum vitae ligula. Nullam suscipit purus eget elementum ultrices. Nam ullamcorper sodales metus, et semper ipsum efficitur non. Maecenas pharetra aliquam nisi nec bibendum. Fusce sodales orci sed efficitur suscipit. Donec efficitur elementum vulputate. Sed nunc tellus, finibus at bibendum ut, consectetur et lacus. Vestibulum cursus mauris eget cursus molestie. Phasellus nisl lacus, lacinia vitae pulvinar non, ullamcorper ac felis. Fusce augue odio, rhoncus vitae metus vitae, lobortis feugiat dui. Nullam vestibulum elementum condimentum. Aenean semper malesuada sapien eu eleifend. Phasellus scelerisque urna at eros fringilla, quis imperdiet est elementum. Phasellus et nisl at ex cursus cursus at ac nibh. Vivamus scelerisque hendrerit orci et convallis.

        Nulla ultrices odio sed turpis fermentum consectetur. Duis ante neque, finibus a magna quis, efficitur efficitur magna. Sed interdum nulla vel molestie volutpat. Nunc sit amet turpis placerat, placerat eros vitae, imperdiet lacus. Aenean id nisi tellus. Curabitur consectetur pretium odio, vel rutrum justo congue a. Nullam convallis turpis vitae ante gravida, non consectetur nisi bibendum. Proin ultrices, nisi non commodo lobortis, dolor felis laoreet mi, sit amet pellentesque lorem ante non nisl. Aliquam a felis eget nisi consequat pellentesque.
        It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
        The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here,
        content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum
        as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy.
        Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
        <br />
        Where can I get some?

        There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form,
        by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem
        Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the
        Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary
        of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable.
        The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.
        <br />


        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed auctor nisl quis elementum ultricies. Fusce ligula ligula, hendrerit eu augue eu, hendrerit ornare erat. Sed dui ipsum, pulvinar malesuada tortor quis, sagittis vestibulum ligula. Aliquam mi urna, dignissim sed est a, consectetur lobortis ante. Curabitur accumsan, neque vitae vestibulum pellentesque, ex augue finibus sapien, semper egestas lacus neque ac sapien. Duis iaculis urna sit amet feugiat malesuada. Aliquam pharetra sed turpis id varius. Curabitur at faucibus nisi. Sed sodales elementum mollis.

        Nullam vitae placerat lacus. Suspendisse in urna leo. Vestibulum bibendum augue non nunc rhoncus, a ornare tortor cursus. Nunc imperdiet lobortis ultricies. Integer nunc massa, gravida sed nibh et, porta vulputate leo. Proin posuere magna ut ipsum vestibulum faucibus. Donec imperdiet arcu id risus fringilla feugiat. Morbi vulputate leo eu condimentum dapibus.

        Nulla sodales elit et arcu feugiat accumsan. Vivamus volutpat porttitor neque. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce eget accumsan erat, sed tincidunt turpis. Mauris mollis arcu id eros sollicitudin ultricies. Nullam vel nisl eget purus bibendum dapibus eu a lectus. Nam mollis sit amet leo ut pulvinar. Nulla lacinia tellus sed congue dapibus. Sed scelerisque arcu vel ex aliquam, vitae semper orci egestas. Curabitur tristique vehicula fringilla. Duis eget est orci.

        Sed justo metus, luctus at elementum a, fermentum vitae ligula. Nullam suscipit purus eget elementum ultrices. Nam ullamcorper sodales metus, et semper ipsum efficitur non. Maecenas pharetra aliquam nisi nec bibendum. Fusce sodales orci sed efficitur suscipit. Donec efficitur elementum vulputate. Sed nunc tellus, finibus at bibendum ut, consectetur et lacus. Vestibulum cursus mauris eget cursus molestie. Phasellus nisl lacus, lacinia vitae pulvinar non, ullamcorper ac felis. Fusce augue odio, rhoncus vitae metus vitae, lobortis feugiat dui. Nullam vestibulum elementum condimentum. Aenean semper malesuada sapien eu eleifend. Phasellus scelerisque urna at eros fringilla, quis imperdiet est elementum. Phasellus et nisl at ex cursus cursus at ac nibh. Vivamus scelerisque hendrerit orci et convallis.

        Nulla ultrices odio sed turpis fermentum consectetur. Duis ante neque, finibus a magna quis, efficitur efficitur magna. Sed interdum nulla vel molestie volutpat. Nunc sit amet turpis placerat, placerat eros vitae, imperdiet lacus. Aenean id nisi tellus. Curabitur consectetur pretium odio, vel rutrum justo congue a. Nullam convallis turpis vitae ante gravida, non consectetur nisi bibendum. Proin ultrices, nisi non commodo lobortis, dolor felis laoreet mi, sit amet pellentesque lorem ante non nisl. Aliquam a felis eget nisi consequat pellentesque.

    </div>
    <div id="divfloating" class="col-lg-3 sidecls">
        Side Content
    </div>
</div>

@section scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            var floatingdiv = $("#divfloating");
            var floatingdivposition = floatingdiv.position();
            $(window).scroll(function () {
                var scrollposition = $(window).scrollTop();
                if (scrollposition >= floatingdivposition.top) {
                    floatingdiv.css({
                        'position': 'fixed',
                        'top': 100

                    });
                }
                else {
                    floatingdiv.css({
                        'position': 'relative',
                        'top': 0

                    });
                }
                floatingdiv.html(
                    "window height =" + $(window).height() + '<br/>' +
                    "document height =" + $(document).height() + '<br/>' +
                    "Vertical scrollbar =" + scrollposition
                );
                if ($(window).scrollTop() == $(document).height() - $(window).height()) {
                    floatingdiv.html(
                       "You are at the bottom of the page"
                    );
                }
               
                
            });


        });
    </script>
    
}